<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
</head>
<body>
	
	<header th:replace="~{fragments/header :: header}"></header>
	
	<style>
		table {
			width: 100%;
		}
	</style>
	
	<main>
		<table>
			<thead>
				<tr>
					<th>踰덊샇</th>
					<th>遺꾨쪟</th>
					<th>?쒕ぉ</th>
					<th>?깅줉?륤D</th>
					<th>?깅줉??/th>
				</tr>
			</thead>
			<tbody id="tbody"></tbody>
		</table>
	</main>
	
	<footer th:replace="~{fragments/footer :: footer}"></footer>
	
	<script>
		
	function cateToStr(cate) {
		switch (cate) {
			case 1000:
				return "怨듭??ы빆";
			case 2000:
				return "?먯쑀寃뚯떆??;
			case 3000:
				return "媛ㅻ윭由ш쾶?쒗뙋";
		}
	}
		
	axios.get('http://localhost:8111/api/board/list?cate=1000&title=')
		.then((response) => {
			// ?묐떟 諛쏅뒗 JSON?먯꽌 data 留?異붿텧
			const { data } = response;
			// data瑜?loop ?뚮젮??html???앹꽦?쒕떎.
			let html = '';
			data.forEach(item => {
				console.log(item);
				html += `
					<tr>
						<td>${item.idx}</td>
						<td>${cateToStr(item.cate)}</td>
						<td><a href="/board/view/${item.idx}">${item.title}</a></td>
						<td>${item.regID}</td>
						<td>${item.regDate}</td>
					</tr>
				`;
			});
			document.querySelector('#tbody').innerHTML = html;
		})
		.catch((error) => {
			console.log(error);
		})
		.finally(() => {
			console.log('done');
		});
		
	</script>
	
	
</body>
</html>