<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FileDetailMapper">

	<insert 
		id="insertDetailFile"
		parameterType="com.example.demo.vo.FileDetailVO"
		useGeneratedKeys="true"
		keyColumn="FILE_DETAIL_ID"
		keyProperty="fileDetailId"
	>
	INSERT INTO FILE_DETAIL (
		FILE_MST_ID
		, FILE_DEST
		, FILE_NUMBER
		, FILE_LOCATION
		, FILE_PATH
		, FILE_NAME
		, ORG_FILE_NAME
		, FILE_EXT
		, FILE_MIME
		, FILE_SIZE
		, REG_ID
	) VALUES (
		#{fileMstId}
		, #{fileDest}
		, #{fileNumber}
		, #{fileLocation}
		, #{filePath}
		, #{fileName}
		, #{orgFileName}
		, #{fileExt}
		, #{fileMiMe}
		, #{fileSize}
		, #{regID}
	)
	</insert>

</mapper>